
      <div class="container" style="text-align:center;margin:0 auto;">
        <div class="row">
          <div class="col-md-12"style="text-align:center">
            <form style="background-color:rgba(0,0,0,0.6);max-width:400px;padding:20px;text-align:center;margin:5% auto;font-family:serif;border-radius:10px;">
              <h1 style="color:white;font-family:serif;">Send Me A Message!</h1>
              <!-- <input id="from" type="text" placeholder="Enter E-mail ID where you want to send" /><br><br> -->
          		<input id="subject" type="text" placeholder="Subject" /><br><br>
          		<textarea id="text"  placeholder="Please include: (name, number, and contact email)."></textarea><br><br>

          		<button class="button"id="send_email">Send Message</button><hr>

              <span id="message"></span>
            </form>
          </div>

        </div>

        <script>// <![CDATA[
      	$(document).ready(function(){
      			$("#send_email").click(function(){
                var from;
      					var to = "dojadeveloper@gmail.com";
      					var subject = document.getElementById("subject").value;
      					var text = document.getElementById("text").value;
      					console.log(to);
                if (text == "" && subject == "") {
                  console.log('No data entered. Send cancelled');
                  $("#message").html("<p>There is missing information!</p>");
                  return;
                }
      					$("#message").html("<p>Sending Message...Please wait</p>");
      					$.get("/send",{to:to,subject:subject,text:text},function(data){
      					if(data=="sent")
      					{
      							$("#message").empty().html("<br><br><br><h4 style='color:white;font-family:serif;margin-top:-60px;'>Email is been sent at "+to+" .<br> Thanks for the message! I'll get back to you as soon as I can.</h4>");
      					}
      				});
              document.getElementById("subject").value = '';
              document.getElementById("text").value = '';
      			});


      	});
      	</script>
      </div>
