<div ng-controller="MainController as vm">
  <div class="home-container">
    <h1 class="box fade-in one"id='site-title'> Micah Dunson </h1>

    <p class="box fade-in two" id='site-header'><b> Front End Javascript Developer </b></p>
<h1 class="animated infinite flash" style="color:rgb(50,200,13);animation-duration: 4s;"><a id='enter' href="#" ng-click='vm.showNav()' style="text-decoration:none;color:rgb(50,200,13)">< ENTER /></a></h1>


    <img ng-show='vm.start' class="animated infinite flash" height="10" style="margin-top:-105px;margin-right:325px;animation-duration: 2s;"src="/img/la.jpg"/>

    <div style='margin-top:40px;' class=" social box fade-in one">
      <a id='github-link' href="#"><img src="/img/GH_icon.png" alt="Github Link" /></a>
      <a id='linkedin-link' href="#"><img src="/img/LK_icon.png"  alt="LinkedIn Link" /></a><br>
      <!-- <div class="box fade-in one"id="gitTag">Github</div>
      <div class="box fade-in two"id="linkTag">LinkedIn</div> -->
    </div>

    <!-- <button type="button" class='butt' style="background-color:tan;"name="button">Round me</button> -->
  </div>

</div>
