<div ng-controller="MainController as vm">
  <div class="home-container">
    <h1 id='site-title'> Micah Dunson </h1>

    <p id='site-header'><b> Front End Javascript Developer </b></p>
    <div style='margin-top:40px;' class=" social box fade-in one">
      <a id='github-link' href="#"><img src="/img/GH_icon.png" alt="Github Link" /></a>
      <a id='linkedin-link' href="#"><img src="/img/LK_icon.png"  alt="LinkedIn Link" /></a><br>
      <!-- <div class="box fade-in one"id="gitTag">Github</div>
      <div class="box fade-in two"id="linkTag">LinkedIn</div> -->
    </div>

    <!-- <button type="button" class='butt' style="background-color:tan;"name="button">Round me</button> -->
  </div>

</div>
