<div ng-controller="MainController as vm">
  <div class="container" style="text-align:center;margin:0 auto;">
    <h1 id='site-title'> Micah Dunson </h1>

    <!-- <p id='site-header'><b> I'm a Front End Javascript Developer </b></p> -->
    <div class="row" style="text-align:center;margin:0 auto;">
      <div class="col-md-12 nav"style="text-align:center;margin:0 auto;">

        <div style="clear:both;"class="aboutMe">
          <p>
            <img style="float:left;"class="img-responsive me"src="/img/me.jpg" alt="self portrait" /><span id="span">
              I'm a <span id="jobTitle">full-stack JavaScript developer</span> slash musician who loves coding and working with new technologies. I'm always up for a challenge and love new projects. Let me help bring your ideas to life!<br><br> <b>Front end</b> is my strong side and I enjoy experimenting and trying new things with different frameworks and plugins, but I still love getting my hands dirty in the back end as well.<br>

              <b>Back end</b> is an area that I'm familiar with. I find the challenge rather rewarding and having the ability to build a project from front end to back end provides a lot of flexibility as well as making the build process a bit smoother.</span>
          </p>
        </div>


        <div style="clear:both;"id="skills">
          <!-- Trigger/Open The Modal -->
          <h3><a href="#" id="myBtn">Experience</a></h3>
          <!-- <button >Open Modal</button> -->

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">×</span>
                <h2>My Experience</h2>
              </div>
              <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <div class="div2">EXPERIENCE</div>
              </div>
              <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>

          </div> <!--modal end-->

        </div>
        <div id="project">
          <h3><a href="#" id="myBtn2">Projects</a></h3>
          <!-- The Modal -->
          <div id="myModal2" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">×</span>
                <h2>Projects</h2>
              </div>
              <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <div class="div2">PROJECTS</div>
              </div>
              <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>

          </div> <!--modal end-->
        </div>
        <div id="resume">
          <h3><a href="#" id="myBtn3">Resume</a></h3>
          <!-- The Modal -->
          <div id="myModal3" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">×</span>
                <h2>Resume</h2>
              </div>
              <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <div class="div2">RESUME</div>
              </div>
              <div class="modal-footer">
                <h3>Modal Footer</h3>
              </div>
            </div>

          </div> <!--modal end-->
        </div>

      </div>

    </div>

  </div>

</div>
