<div ng-controller="MainController as vm">
  <div class="container" style="text-align:center;margin:0 auto;">
    <h1 id='site-title'> Micah Dunson </h1>

    <!-- <p id='site-header'><b> I'm a Front End Javascript Developer </b></p> -->
    <div class="row" style="text-align:center;margin:0 auto;">
      <div class="col-md-12 nav"style="text-align:center;margin:0 auto;">
        <div id="skills">

        </div>
        <div id="project">

        </div>
        <div id="contact">

        </div>
        
      </div>

    </div>

  </div>

</div>
