<div ng-controller="MainController as vm">

  <div class="container" style="text-align:center;margin:0 auto;">
    <h1 id='site-title'> Micah Dunson </h1>

    <div class="row" style="text-align:center;margin:0 auto;">
      <div class="col-md-12 nav"style="text-align:center;margin:0 auto;">

        <div class="aboutMe"style="text-align:center;margin:0 auto;">
          <p>
            <img class="img-responsive me "src="/img/me.jpg" alt="self portrait" /><span id="span">
              <span style="clear:both;"id="jobTitle"> A MEAN-Stack JavaScript Developer</span> who loves incorporating new ideas with new technologies is a pretty good description of me. <br><br> <b>Front end</b> is about UI & UX and I enjoy experimenting and trying new things with different frameworks and plugins, but I still love getting my hands dirty in the back end as well.<br><br>

              <b>Back end</b> is an area that I'm familiar with. I love the challenge  and having the ability to build an application from front to back provides a lot of flexibility as well as making the build process smoother.</span>
          </p>
        </div>


        <div style="clear:both;"id="skills" >
          <!-- Trigger/Open The Modal -->

        <button class='button' data-toggle="modal" data-target="#myModal">Experience</button>
                  <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Developer Tools</h4>
              </div>
              <div class="modal-body" style='height:100%' id="skillBody">
                <table>
                  <tr>
                    <th colspan="2" style="text-align:center"><h2>Web Technologies<hr></h2></th>
                  </tr>
                  <tr>
                    <td>HTML5<br><img src="/img/HTML5_badge.png" alt="HTML badge" width="50" /></td>
                    <td><p>3 yrs experience <wbr>building landing pages and <wbr>forms with HTML.</p></td>
                  </tr>
                  <tr>
                    <td>CSS3<br><img src="/img/CSS3_badge.png" alt="CSS3 badge" width="40" /></td>
                    <td><p>3 yrs experience<wbr> working with CSS, <wbr> bootstrap, and building <wbr>responsive layouts.</p></td>
                  </tr>
                  <tr>
                    <td>jQuery<br><img src="/img/jQurery_badge.jpg" alt="JQuery badge" width="40" /></td>
                    <td><p>2 yrs experience<wbr> working with various Jquery <wbr>plugins, JSON and making <wbr>AJAX requests.</p></td>
                  </tr>
                  <tr>
                    <td>JavaScript<br><img src="/img/Javascript_badge.png" alt="Javascript badge" width="50" /></td>
                    <td><p>3 yrs experience<wbr> working with Javascript <wbr>and adding functionality <wbr>to forms and websites.</p></td>
                  </tr>
                  <tr>
                    <td>Angular<br><img src="/img/Angular_badge.png" alt="Angular badge" width="50" /></td>
                    <td><p>1 yr experience<wbr> working with Angular <wbr>and building SPA websites<wbr> and apps.</p></td>
                  </tr>
                  <tr>
                    <td>Meteor<br><img src="/img/Meteor_badge.png" alt="Meteor badge" width="60" /></td>
                    <td><p>1 yr experience<wbr> working with Meteor and<wbr> building prototype<wbr> applications.</p></td>
                  </tr>
                  <tr>
                    <td>Node JS<br><img src="/img/Node_badge.png" alt="Node badge" width="50" /></td>
                    <td><p>1 yr experience<wbr> working with a Node <wbr>server and posting and getting<wbr> data from databases.</p></td>
                  </tr>
                  <tr>
                    <td>Express<br><img src="/img/Expressjs_badge.png" alt="Express badge" width="50" /></td>
                    <td><p>1 yr experience<wbr> working with Express <wbr>and handling request<wbr> routes made to and from the server.</p></td>
                  </tr>
                  <tr>
                    <td>Mongodb<br><img src="/img/Mongo_badge.png" alt="Mongodb badge" width="50" /></td>
                    <td><p>1 yr experience<wbr> working with Mongo DB <wbr>and noSQL databases.</p></td>
                  </tr>
                  <tr>
                    <td>WordPress<br><img src="/img/WordPress_badge.png" alt="WordPress badge" width="50" /></td>
                    <td><p>1.5 yrs experience<wbr> working with WordPress <wbr>and customizing personal themes.</p></td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div> <!--modal end-->

        </div>
        <div id="project">
          <button class='button' data-toggle="modal" data-target="#myModal2">Projects</button>
                    <!-- Modal -->
          <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Projects</h4>
                </div>
                <div class="modal-body">
                  <md-content>
                    <h3>TravState</h3>
                    <a href="http://travstate.herokuapp.com" target="_blank"><img class="img-responsive"src="img/Trav-HpPg.PNG" alt="TravState home page screenshot" /></a>
                    <h4>TravState is a U.S. law resource site listing laws and facts for U.S. states built using frameworks Angular and Angular Material</h4><hr>

                    <h3>LisanaPhoto</h3>
                    <a href="http://lisanaphoto.herokuapp.com" target="_blank"><img class="img-responsive"src="/img/lisana-hm.PNG" alt="LisanaPhoto home page screenshot" /></a>
                    <h4>LisanaPhoto is currently in development stage and demonstrates a simple responsive layout and design. This particular photographer portfolio is built using HTML, CSS, and jQuery.</h4><hr>

                    <h3>Mic Doja Music</h3>
                    <a href="http://micdoja.com" target="_blank"><img class="img-responsive"src="/img/micdoja-hm.PNG" alt="Mic Doja Music home page screenshot" /></a>
                    <h4>Mic Doja Music is a musician's website that was built and customized in WordPress to showcase work and stay connected to fans.</h4><hr>

                    <h3>Blog-Nation</h3>
                    <a href="http://pages-demo.herokuapp.com" target="_blank"><img class="img-responsive"src="/img/page-blog1.PNG" alt="Blog-Nation home page screenshot" /></a>
                    <h4>Blog-Nation is a blogging platform  where users can create, edit, and delete blog entries. It is built using javascript framework Angular and Firebase DB and API for data storage.</h4><hr>

                    <h3>Chat Time</h3>
                    <a href="http://pages-demo.herokuapp.com" target="_blank"><img class="img-responsive"src="/img/page-chat.PNG" alt="Chat Time home page screenshot" /></a>
                    <h4>Chat Time is a chat room application where users can create rooms and engage in open or private messaging. It is built using jQuery and the Firebase DB API for data storage.</h4><hr>

                    <h3>Wikipedia Search App</h3>
                    <a href="http://codepen.io/dojadeveloper/full/pybMVj/" target="_blank"><img class="img-responsive"src="/img/wiki-hm.PNG" alt="Wikipedia search app home page screenshot" /></a>
                    <h4>This is a simple Wikipedia search app built with Bootstrap, jQuery, and the Wikipedia API.</h4><hr>
                  </md-content>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div> <!--modal end-->
        </div>

        <div id="resume">
          <button class='button' data-toggle="modal" data-target="#myModal3">Resume</button>
                    <!-- Modal -->
          <div id="myModal3" class="modal fade container" style='margin-top:40px;' role="dialog">

            <!-- Modal content-->
             <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" style="margin:50px;">&times;<br>Close</button>

                <a href="https://od.lk/d/MV8xMjY2Mjk3Nzdf/Developer%20Resume.doc" id='resumeDnld'><h3>Download Resume</h3></a>

                <iframe src="/img/Developer Resume.pdf"></iframe>
              </div>

          </div> <!--modal end-->
        </div>


      </div>

    </div>

  </div>

</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#').hover(function() { // mouseenter
        // hide & compress initial text
        $('#html .span').stop().animate({
          width: '0px', opacity: 0}, $('#html .span').hide);
        // show & decompress link options
        $('#html .text').stop().show().animate({
          width: '90%', opacity: 1});
      },function() { //mouseleave
        // hide & compress options
        $('#html .text').stop().animate({
          width: '0px',opacity: 0}, $('#html .text').hide);
        // show & decompress link options
        $('#html .span').stop().show().animate({
          width: '250px',opacity: 1});
      });



    $('#').hover(function() { // mouseenter
        // hide & compress initial text
        $('#css .span').stop().animate({
          width: '0px', opacity: 0}, $('#css .span').hide);
        // show & decompress link options
        $('#css .text').stop().show().animate({
          width: '90%', opacity: 1});
      },function() { //mouseleave
        // hide & compress options
        $('#css .text').stop().animate({
          width: '0px',opacity: 0}, $('#css .text').hide);
        // show & decompress link options
        $('#css .span').stop().show().animate({
          width: '250px',opacity: 1});
      });

      $('#').hover(function() { // mouseenter
          // hide & compress initial text
          $('#jquery .span').stop().animate({
            width: '0px', opacity: 0}, $('#jquery .span').hide);
          // show & decompress link options
          $('#jquery .text').stop().show().animate({
            width: '90%', opacity: 1});
        },function() { //mouseleave
          // hide & compress options
          $('#jquery .text').stop().animate({
            width: '0px',opacity: 0}, $('#jquery .text').hide);
          // show & decompress link options
          $('#jquery .span').stop().show().animate({
            width: '250px',opacity: 1});
        });

        $('#').hover(function() { // mouseenter
            // hide & compress initial text
            $('#javascript .span').stop().animate({
              width: '0px', opacity: 0}, $('#javascript .span').hide);
            // show & decompress link options
            $('#javascript .text').stop().show().animate({
              width: '90%', opacity: 1});
          },function() { //mouseleave
            // hide & compress options
            $('#javascript .text').stop().animate({
              width: '0px',opacity: 0}, $('#javascript .text').hide);
            // show & decompress link options
            $('#javascript .span').stop().show().animate({
              width: '250px',opacity: 1});
          });

          $('#').hover(function() { // mouseenter
              // hide & compress initial text
              $('#angular .span').stop().animate({
                width: '0px', opacity: 0}, $('#angular .span').hide);
              // show & decompress link options
              $('#angular .text').stop().show().animate({
                width: '90%', opacity: 1});
            },function() { //mouseleave
              // hide & compress options
              $('#angular .text').stop().animate({
                width: '0px',opacity: 0}, $('#angular .text').hide);
              // show & decompress link options
              $('#angular .span').stop().show().animate({
                width: '250px',opacity: 1});
            });

            $('#').hover(function() { // mouseenter
                // hide & compress initial text
                $('#meteor .span').stop().animate({
                  width: '0px', opacity: 0}, $('#meteor .span').hide);
                // show & decompress link options
                $('#meteor .text').stop().show().animate({
                  width: '90%', opacity: 1});
              },function() { //mouseleave
                // hide & compress options
                $('#meteor .text').stop().animate({
                  width: '0px',opacity: 0}, $('#meteor .text').hide);
                // show & decompress link options
                $('#meteor .span').stop().show().animate({
                  width: '250px',opacity: 1});
              });

              $('#').hover(function() { // mouseenter
                  // hide & compress initial text
                  $('#node .span').stop().animate({
                    width: '0px', opacity: 0}, $('#node .span').hide);
                  // show & decompress link options
                  $('#node .text').stop().show().animate({
                    width: '90%', opacity: 1});
                },function() { //mouseleave
                  // hide & compress options
                  $('#node .text').stop().animate({
                    width: '0px',opacity: 0}, $('#node .text').hide);
                  // show & decompress link options
                  $('#node .span').stop().show().animate({
                    width: '250px',opacity: 1});
                });

                $('#').hover(function() { // mouseenter
                    // hide & compress initial text
                    $('#express .span').stop().animate({
                      width: '0px', opacity: 0}, $('#express .span').hide);
                    // show & decompress link options
                    $('#express .text').stop().show().animate({
                      width: '90%', opacity: 1});
                  },function() { //mouseleave
                    // hide & compress options
                    $('#express .text').stop().animate({
                      width: '0px',opacity: 0}, $('#express .text').hide);
                    // show & decompress link options
                    $('#express .span').stop().show().animate({
                      width: '250px',opacity: 1});
                  });

                  $('#').hover(function() { // mouseenter
                      // hide & compress initial text
                      $('#mongodb .span').stop().animate({
                        width: '0px', opacity: 0}, $('#mongodb .span').hide);
                      // show & decompress link options
                      $('#mongodb .text').stop().show().animate({
                        width: '90%', opacity: 1});
                    },function() { //mouseleave
                      // hide & compress options
                      $('#mongodb .text').stop().animate({
                        width: '0px',opacity: 0}, $('#mongodb .text').hide);
                      // show & decompress link options
                      $('#mongodb .span').stop().show().animate({
                        width: '250px',opacity: 1});
                    });








});

</script>
